* {
  box-sizing: border-box;
  /* margin: 1em solid black; */
  background-color: gray;
}

nav {
  background-color: black;
  overflow: hidden;
  height: 5em;
}

.menu {
  background-color: white;
}
#pageName {
  display: block;
  color: white;
  text-align: center;
  font-size: 30px;
  text-decoration: none;
  /* padding: 1em; */
  background-color: black;
  /* float: left; */
  line-height: 5px;
}
#nav-toggle {
    height: 25px;
    width: 25px;            
    background-color: black;
    float: left;
}

ul {
  height: 100%;
  width: 15em;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  transition: 0.5s;
  padding-top: 10em;
  list-style-position: inside;
  list-style: inside;
  text-align: center;
}

li {
  background-color: black;
  align-content: space-around;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  list-style-position: inherit;
  padding-top: 2em;
}

.picture {
  margin: 6em 27em auto auto;
  width: 50em;
  height: 30em;
  background-color: white;
  position: sticky;
}

.photo1 {
  height: 30em;
  width: 50em;
  border: 2px solid black;
}

