* {
  box-sizing: border-box;
  /* margin: 1em solid black; */
  background-color: gray;
}

nav {
  background-color: black;
  overflow: hidden;
  height: 5em;
}

#pageName {
  display: block;
  color: white;
  text-align: center;
  font-size: 40px;
  text-decoration: none;

  background-color: black;
 
}
#nav-toggle {
    height: 40px;
    width: 40px;            
    background-color: black;
    margin: 1em;
    z-index: 2;
    padding: 1em;
    /* position:sticky;
     */
}
ul {
  height: 100%;
  width: 13em;
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: black;
  transition: 0.5s;
  padding-top: 8em;
  list-style-position: inside;
  list-style: inside;
  text-align: center;
}

ul .close {
    position: absolute;
    top: 0;
    left: 13em;
    /* margin: 15em; */
}
li {
  background-color: black;
  align-content: space-around;
  font-size: 25px;
  color: white;
  display: block;
  transition: 0.3s;
  list-style-position: inherit;
  padding-top: 2em;
}

.picture {
  margin: 6em 27em auto auto;
  width: 50em;
  height: 30em;
  background-color: white;
  position: sticky;
    text-align: center;
align-content: center;

}

#merc {
  height: 30em;
  width: 50em;
  border: 2px solid black;
}

#venus {
    height: 40em;
    width: 50em;
    border: 2px solid black;
  } 

#mars {
    height: 30em;
    width: 50em;
    border: 2px solid black;
}
#jupiter {
    height: 40em;
    width: 50em;
    border: 2px solid black;
}
#saturn {
    height: 32em;
    width: 50em;
    border: 2px solid black;
}
#uranus {
    height: 30em;
    width: 50em;
    border: 2px solid black;
}
#neptune {
    height: 30em;
    width: 50em;
    border: 2px solid black;
}
.onOff {
    display: none;
}