body {
  box-sizing: border-box;
  max-width: 100vw;
  max-height: 100%;
  margin: auto;
  background-image: url("icons/black_stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}

nav {
  color: white;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  /* background-image: url("icons/black_stars.jpg"); */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  /* background-color: black; */
  /* width: 100vw; */
  height: 22vh;
  max-width: 100vw;
  padding: 0 15px 15px 15px;
  margin: 0;
  /* overflow:hidden; */
}

.navWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  align-items: center;
  /* margin-left: 40%; */
}

.heading {
  margin: auto;
  font-size: 30px;
  justify-self: center;
  margin-left: 30%;
  /* padding-left: 10px; */
}
.open {
  /* background-color: white; */
  background-image: url("circlehamburger2.png");
  background-color: transparent;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 20%;
  height: 4em;
  width: 4em;
  /* z-index: 1; */
  filter: invert(1);
}
.dropdown {
  position: relative;
  display: inline-block;
  z-index: 1;
  margin-right: 10%;
  margin-left: inherit;
  /* overflow:hidden; */
}
.dropdown .open {
  cursor: pointer;
  outline: none;
  border: none;
  padding: 14px 16px;
  z-index: 1;
  margin-right:auto;
  margin-left: auto;
}
.dropdown_content {
  display: none;
  position: absolute;
  background-color: white;
  margin-top: 30%;
  min-width: 150px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  color: black;
}

.dropdown_content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.show {
  display: block;
 
  /* display: flex; */
  /* flex-flow:column; */
}
.planet {
  max-width: 100%;
  max-height: 100%;
  display: block;
  background-image: url("icons/black_stars.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
}
.planetWrapper {
  display: grid;
 
  overflow: hidden;
  background-color: rebeccapurple;
  margin-top: auto;
  margin-bottom: auto;
}
.picture {
  display: flex;
  justify-items: center;
  flex-flow: column;
  /* margin: 0 10%; */
  max-height: 88vh;
  overflow: hidden;
}

.Mercury {
  margin-left: auto;
  margin-right: auto;
  /* z-index:0; */
  /* grid-column: 1; */
  /* visibility: hidden; */
}
/* .Venus {
  margin-left: auto;
  margin-right: auto;
  /* grid-column: 2; */
  /* z-index:600; */

 
